body {
    text-align: center;
    overflow: hidden;
    background-color: #e4e2e5;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: #201e25;
}

.elemen-lampu img{
    width: 60px;
    height: 60px;
    animation: kedip 1s infinite;
}

@keyframes kedip {
    0%, 50% {
        content: url("assets/light_medium.png");
    }
    51%, 100% {
        content: url("assets/light_high.png");
    }
}


/*Welcome to our ...*/
header h1 {
    font-family: "DynaPuff", sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #fece11;
    -webkit-text-stroke: 11px #201e25; 
    paint-order: stroke fill;
}

header p {
    background: #201e25;
    color: white;
    display: inline-block;
    font-weight: 400;
    padding: 4px 20px; /*tinggi lebar*/
    border-radius: 14px;
}

/*button masuk*/
#masuk {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #201e25;
    background-color: #36d1f7;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    padding: 6px 20px;
    font-size: 17px;
    border: none;
    box-shadow: 0px 5px 0px #201e25; /*x y blur warna*/
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

#masuk:hover {
    transform: translateY(-4px);
    background-color: #c8edf7;
}


article {
    background: white;
    padding: 1px 80px;
    border-radius: 20px;
    box-shadow: 0px 6px 0px #201e25;
    margin: 2px 60px;
}

article h3 {
    font-family: "DynaPuff", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
}

.nama-anggota {
    display: flex;
    justify-content: center;
    gap: 0px 30px; /*atasbawah kirikanan*/
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.anggota {
    background-color: #fece11;
    border: 2px solid #201e25;
    padding: 1px 12px;
    border-radius: 14px;
}

.anggota:nth-child(even) {
    background: #c8edf7;
}



/*HOME.HTML*/
#canvas {
    /*vw= viewport width*/
    width: 100vw;
    /*vh= viewport height*/
    height: 100vh;

    background-color: #fbf7f4;

    background-image: radial-gradient(#c4b4a3 1px, transparent 1px);
    background-size: 20px 20px; /*lebar tinggi*/
}


/*Bikin Rangkaian listrik...*/
.content h2 {
    font-family: "DynaPuff", sans-serif;
    font-size: 30px;
    font-weight: 500;
    background: white;
    box-shadow: 0px 5px 0px #201e25;
    border: 2px solid #201e25;
    border-radius: 20px;
    display: inline-block;
    padding: 4px 60px;
}

.panel {
    width: 100px;            
    background-color: white;
    padding: 10x;
    border-radius: 15px;
    border: 2px solid #201e25;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
    margin-left: 20px;
    box-shadow: 0px 5px 0px #201e25;
}

.item {
    display: flex;
    flex-direction: column;  
    align-items: center;      
    gap: 6px;                 
    margin-bottom: 16px;
}

.item-img {
    width: 35px;
    height: auto;
    object-fit: contain;
}

.item-text {
    color: black;       
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
}