:root {
    --background: white;
    --nav: #201c17;
    --nav-element: #eee3d5;
    --nav-hover: #ff9b19;
    --nav-height: 60px;
    --text: #000000;
    --footer-background: #561d03;
    --footer-text: #ffe5c1;
    --desc-header: #afaeae;
    /*FONT*/
    --font-heading: 'Gabarito', sans-serif;
    --font-body: 'Lora', serif;
}

html {
    scroll-behavior: smooth;
    margin: 0;
}

/*INDEX*/
.gambar-logo {
    height: auto;
    width: 120px;
    object-fit: cover;
}

button {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 15px;
}

#tombol-explore-food {
    border: none;
    background: var(--nav-hover);
    border-radius: 20px;
    padding: 5px 15px;
}

#tombol-explore-food:hover {
    background: white;
    border: 2px solid var(--nav-hover);
}

h1, h2 {
    font-family: var(--font-heading);
    font-weight: 700;
}

p {
    color: var(--desc-header);
}

.popular-food {
    margin-top: 50px;
}

.but-card {
    background-color: var(--nav-hover);
    border: none;
    color: var(--text);
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 15px;
}

.but-card:hover {
    background: white;
    border: 2px solid var(--nav-hover);
}

body {
    padding-top: var(--nav-height);
    margin: 0px 20px;
    background-color: var(--background);
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav {
    top: 0;
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    display: flex;
    align-items: center;
    background-color: var(--nav);
    z-index: 100;
}

#nav-links {
    display: none;
    position: absolute;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    flex-direction: column;
    gap: 0;
    background-color: var(--nav);
    color: var(--nav-element);
}

#nav-links a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--nav-element);
    font-size: 20px;
    padding: 6px 0;
}

#nav-links.active {
    display: flex;
}

.nav-buttons {
    display: flex;
    background: none;
    border: none;
}

#nav-hamburger {
    padding-left: 17px;
}  

#profile-button {
    margin-left: auto;
    padding-right: 16px;
}

.nav-icon {
    width: 32px;
    height: auto;
}

#home-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#cart {
    margin-left: auto;
}

#about {
    background-color: var(--nav);
    width: 100vw;
    margin-bottom: 0;
    margin-top: 25px;
}

#about p {
    color: var(--nav-element);
    margin-top: 15px;
}

/*LOGIN HTML*/
#nav-back {
    padding-left: 17px;
    width: 30px;
    height: 30px;
}

main {
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.kotak-register-login {
    box-shadow: 0px 5px 5px #afaeae;
    border-radius: 20px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}

.kotak-register-login p {
    font-size: 14px;
}

.gambar-logo-login {
    height: auto;
    width: 80px;
    object-fit: cover;
}

.halaman-regist-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

hr {
    width: 100%;
    border: 1px solid var(--nav);
    margin-bottom: -10px;
}

.halaman-regist-login input, .halaman-regist-login button {
    border-radius: 7px;
    border: 1px solid var(--nav-hover);
}

#submit {
    border: none;
    background-color: var(--nav-hover);
}

.sign-up {
    margin-top: 20px;
    margin-bottom: 0;
}

/*EXPLORE.HTML*/

#search-rest {
    margin: 10px 0px;
    width: 90%;
    border-radius: 10px;
    border: 2px solid var(--nav-hover);
}

.list-resto {
    margin-top: 25px;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}